openai
llama_index
pyvis
wikipedia
transformers
torch
fastembed
sentence-transformers
pandas
requests

# unstructured used in UnstructuredURLLoader
unstructured

# yahoo news - fetch_rss_feed
feedparser
nltk
requests
numpy

beautifulsoup4

# arize-phoenix